flows/corrently_demo.json
[{"id":"5da85b17.007c04","type":"tab","label":"Electron - Lokales Stromkonto","disabled":false,"info":""},{"id":"ffb29890.463f68","type":"tab","label":"Elektron - Einstellungen","disabled":false,"info":""},{"id":"8e346a2e.007958","type":"discovergy-config","z":"","name":"Mein Zähler"},{"id":"b3ad201a.4ebdb","type":"ui_tab","z":"","name":"Lokale Strombilanz","icon":"fa-eur","order":1,"disabled":false,"hidden":false},{"id":"ebd47fff.9b846","type":"ui_group","z":"","name":"Heute","tab":"b3ad201a.4ebdb","order":1,"disp":true,"width":"6","collapse":true},{"id":"b9c446ab.c655c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Corrently Lokales Stromkonto","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM.DD.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65849736.6f7248","type":"ui_group","z":"","name":"Letzte 24 Stunden","tab":"b3ad201a.4ebdb","order":3,"disp":true,"width":"6","collapse":true},{"id":"49f9128d.2e270c","type":"ui_group","z":"","name":"Gestern","tab":"b3ad201a.4ebdb","order":2,"disp":true,"width":"6","collapse":true},{"id":"14e32e81.163891","type":"ui_group","z":"","name":"Aktueller Monat","tab":"b3ad201a.4ebdb","order":4,"disp":true,"width":"6","collapse":true},{"id":"628e42bc.6e58fc","type":"ui_group","z":"","name":"Letzter Monat","tab":"b3ad201a.4ebdb","order":5,"disp":true,"width":"6","collapse":true},{"id":"8031db66.94bc88","type":"ui_group","z":"","name":"Aktuelles Jahr","tab":"b3ad201a.4ebdb","order":6,"disp":true,"width":"6","collapse":true},{"id":"4b761e18.39e5c","type":"ui_group","z":"","name":"Letzte 365 Tage","tab":"b3ad201a.4ebdb","order":7,"disp":true,"width":"6","collapse":true},{"id":"285491a2.773cfe","type":"ui_group","z":"","name":"Seit Beginn","tab":"b3ad201a.4ebdb","order":8,"disp":true,"width":"6","collapse":true},{"id":"c9c3dffe.f5272","type":"ui_tab","z":"","name":"Einstellungen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e3c0757f.16a8e8","type":"ui_group","z":"","name":"Disovergy Zugangsdaten","tab":"c9c3dffe.f5272","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8a86df2.2479f","type":"ui_group","z":"","name":"Anschlußdaten","tab":"c9c3dffe.f5272","order":2,"disp":true,"width":"6","collapse":false},{"id":"2da904d9.720ddc","type":"ui_group","z":"","name":"Aktualisieren","tab":"b3ad201a.4ebdb","order":9,"disp":false,"width":"6","collapse":false},{"id":"da546890.0f3d38","type":"Discovergy Meter","z":"5da85b17.007c04","name":"Corrently Demozähler","account":"8e346a2e.007958","meterId":"781ffa307e434529be9f747eece1b8dc","firstReading":"1666000","firstReadingOut":"1593000","firstReadingDate":"2017-01-01","isProduction":false,"revenue":"0.12","amortization":"2500","x":340,"y":800,"wires":[["1787d66f.d5ccba","a7247f1f.d09e5","5c64b699.c14c18","c4213524.48bd38","4de1978c.de92c8","bbb270ec.43c85","632ef305.4247cc","a40f8c3e.7878","3ba5560.75506aa","5345b145.66da6","4a1d7c05.683bc4","d7bb6944.022ae8","69d3c95d.c05fb8","21a9511d.89386e","144daaf0.f75a45","80d9a131.ea00f","7263cd8f.0dcf64"]]},{"id":"5c6c9941.239328","type":"inject","z":"5da85b17.007c04","name":"1M","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"2","topic":"statistics","payload":"","payloadType":"date","x":110,"y":800,"wires":[["da546890.0f3d38"]]},{"id":"1787d66f.d5ccba","type":"debug","z":"5da85b17.007c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":440,"wires":[]},{"id":"a7247f1f.d09e5","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (heute)","group":"ebd47fff.9b846","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.today.incomeSaldo  | number:2}}","min":"-20","max":"20","colors":["#b30000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":620,"y":500,"wires":[]},{"id":"5c64b699.c14c18","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (24h)","group":"65849736.6f7248","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.last24h.incomeSaldo  | number:2}}","min":"-20","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":610,"y":700,"wires":[]},{"id":"c4213524.48bd38","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (yesterday)","group":"49f9128d.2e270c","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.yesterday.incomeSaldo  | number:2}}","min":"-20","max":"20","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":630,"y":600,"wires":[]},{"id":"4de1978c.de92c8","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (monthToDay)","group":"14e32e81.163891","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.monthToDay.incomeSaldo  | number:2}}","min":"-120","max":"120","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":640,"y":800,"wires":[]},{"id":"bbb270ec.43c85","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (lastMonth)","group":"628e42bc.6e58fc","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.lastMonth.incomeSaldo  | number:2}}","min":"-120","max":"120","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":630,"y":900,"wires":[]},{"id":"632ef305.4247cc","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (yearToDay)","group":"8031db66.94bc88","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.yearToDay.incomeSaldo  | number:2}}","min":"-1000","max":"1000","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":630,"y":1000,"wires":[]},{"id":"a40f8c3e.7878","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (last365d)","group":"4b761e18.39e5c","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.stats.last365d.incomeSaldo  | number:2}}","min":"-1000","max":"1000","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":620,"y":1100,"wires":[]},{"id":"3ba5560.75506aa","type":"ui_gauge","z":"5da85b17.007c04","name":"Saldo (Gesamt)","group":"285491a2.773cfe","order":1,"width":0,"height":0,"gtype":"gage","title":"Saldo","label":"€","format":"{{msg.payload.latest.incomeSaldo  | number:2}}","min":"-1000","max":"1000","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":620,"y":1200,"wires":[]},{"id":"5345b145.66da6","type":"ui_template","z":"5da85b17.007c04","group":"ebd47fff.9b846","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.today.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.today.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":540,"wires":[[]]},{"id":"4a1d7c05.683bc4","type":"ui_template","z":"5da85b17.007c04","group":"49f9128d.2e270c","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":640,"wires":[[]]},{"id":"d7bb6944.022ae8","type":"ui_template","z":"5da85b17.007c04","group":"65849736.6f7248","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last24h.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last24h.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":740,"wires":[[]]},{"id":"69d3c95d.c05fb8","type":"ui_template","z":"5da85b17.007c04","group":"14e32e81.163891","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":840,"wires":[[]]},{"id":"21a9511d.89386e","type":"ui_template","z":"5da85b17.007c04","group":"628e42bc.6e58fc","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":940,"wires":[[]]},{"id":"144daaf0.f75a45","type":"ui_template","z":"5da85b17.007c04","group":"8031db66.94bc88","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":1040,"wires":[[]]},{"id":"80d9a131.ea00f","type":"ui_template","z":"5da85b17.007c04","group":"4b761e18.39e5c","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last365d.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last365d.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":1140,"wires":[[]]},{"id":"7263cd8f.0dcf64","type":"ui_template","z":"5da85b17.007c04","group":"285491a2.773cfe","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.latest.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.latest.energyRevenue | number:2}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":1240,"wires":[[]]},{"id":"c98f72e8.cee15","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":" Benutzernamen ","tooltip":"(E-Mail)","group":"e3c0757f.16a8e8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":460,"y":120,"wires":[["6f669d24.8fd0c4"]]},{"id":"f5032427.3ed258","type":"inject","z":"ffb29890.463f68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":20,"wires":[["a564433b.aa86b","da5d9413.d36758","bfa752d0.33f57","619de50d.41f54c","7dd68255.9855bc","e252c92f.6711f8"]]},{"id":"a564433b.aa86b","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_username\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nif(typeof global.get(\"discovergy_username\") == 'undefined') {\n    global.set(\"discovergy_username\",\"demo@corrently.de\");\n    global.set(\"discovergy_password\",\"aNPR66nGXQhZ\");\n    global.set(\"discovergy_meterId\",\"781ffa307e434529be9f747eece1b8dc\");\n    global.set(\"discovergy_revenue\",0.12);\n}","finalize":"","x":140,"y":120,"wires":[["c98f72e8.cee15","2254da5f.d75206"]]},{"id":"2254da5f.d75206","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_password\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["342d9533.69a22a"]]},{"id":"342d9533.69a22a","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":"Passwort","tooltip":"(vom Discovegry Portal Login)","group":"e3c0757f.16a8e8","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":440,"y":220,"wires":[["29486c60.1861b4"]]},{"id":"6f669d24.8fd0c4","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_username\",msg.payload);\nmsg.payload = {\n    username:global.get(\"discovergy_username\"),\n    password:global.get(\"discovergy_password\"),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["dbc0120f.a816e"]]},{"id":"29486c60.1861b4","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_password\",msg.payload);\nmsg.payload = {\n    username:global.get(\"discovergy_username\"),\n    password:global.get(\"discovergy_password\"),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["dbc0120f.a816e"]]},{"id":"fdbb3e7c.4d265","type":"ui_dropdown","z":"ffb29890.463f68","name":"","label":"Zähler","tooltip":"","place":"Bitte wählen","group":"b8a86df2.2479f","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":330,"y":420,"wires":[["fbfae63c.7cd9c8"]]},{"id":"fbfae63c.7cd9c8","type":"function","z":"ffb29890.463f68","name":"","func":"if(typeof msg.payload == 'string') {\n    global.set(\"discovergy_meterId\",msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[["638c7a90.5728f4"]]},{"id":"dbc0120f.a816e","type":"Available Meters","z":"ffb29890.463f68","name":null,"x":830,"y":180,"wires":[["fdbb3e7c.4d265"]]},{"id":"a808cf4e.73adc","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":"Einspeisevergütung je kWh","tooltip":"(0.12)","group":"b8a86df2.2479f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":400,"y":480,"wires":[["41346f07.66a17"]]},{"id":"41346f07.66a17","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_revenue\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":480,"wires":[["638c7a90.5728f4"]]},{"id":"da5d9413.d36758","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_revenue\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":480,"wires":[["a808cf4e.73adc"]]},{"id":"bfa752d0.33f57","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_amortization\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":540,"wires":[["290f8b33.f89594"]]},{"id":"290f8b33.f89594","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":"Abschreibung pro Jahr","tooltip":"(2000)","group":"b8a86df2.2479f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":380,"y":540,"wires":[["557c5788.540de8"]]},{"id":"557c5788.540de8","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_amortization\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":540,"wires":[["638c7a90.5728f4"]]},{"id":"2b29a608.d7b4ba","type":"ui_date_picker","z":"ffb29890.463f68","name":"","label":"Installation","group":"b8a86df2.2479f","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":350,"y":600,"wires":[["a465135e.36bc9"]]},{"id":"a465135e.36bc9","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_firstReadingDate\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":600,"wires":[["638c7a90.5728f4"]]},{"id":"619de50d.41f54c","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_firstReadingDate\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":600,"wires":[["2b29a608.d7b4ba"]]},{"id":"7dd68255.9855bc","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_firstReading\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":660,"wires":[["cba940fe.15b95"]]},{"id":"cba940fe.15b95","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":"Beginn Zählerstand (Bezug) in Wh ","tooltip":"(Zählerstand in Wattstunden)","group":"b8a86df2.2479f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":420,"y":660,"wires":[["65d7ffa7.eaf4"]]},{"id":"65d7ffa7.eaf4","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_firstReading\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":660,"wires":[["638c7a90.5728f4"]]},{"id":"e252c92f.6711f8","type":"function","z":"ffb29890.463f68","name":"","func":"msg.payload = global.get(\"discovergy_firstReadingOut\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":720,"wires":[["214276b6.e6802a"]]},{"id":"214276b6.e6802a","type":"ui_text_input","z":"ffb29890.463f68","name":"","label":"Beginn Zählerstand (Einspeisung) in Wh","tooltip":"(Zählerstand in Wattstunden)","group":"b8a86df2.2479f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":440,"y":720,"wires":[["13b345a2.33842a"]]},{"id":"13b345a2.33842a","type":"function","z":"ffb29890.463f68","name":"","func":"global.set(\"discovergy_firstReadingOut\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":720,"wires":[["638c7a90.5728f4"]]},{"id":"638c7a90.5728f4","type":"link out","z":"ffb29890.463f68","name":"","links":["ff7e1f7.60f8fe"],"x":1015,"y":560,"wires":[]},{"id":"ff7e1f7.60f8fe","type":"link in","z":"5da85b17.007c04","name":"","links":["638c7a90.5728f4"],"x":75,"y":860,"wires":[["bea6d8de.596148"]]},{"id":"bea6d8de.596148","type":"function","z":"5da85b17.007c04","name":"","func":"msg.topic='statistics';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":860,"wires":[["da546890.0f3d38"]]},{"id":"4d50277d.ce54e8","type":"inject","z":"5da85b17.007c04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":700,"wires":[["74a18dce.7ba9a4"]]},{"id":"74a18dce.7ba9a4","type":"function","z":"5da85b17.007c04","name":"Initialize Globals","func":"if(typeof global.get(\"discovergy_username\") == 'undefined') {\n    global.set(\"discovergy_username\",\"demo@corrently.de\");  \n    global.set(\"discovergy_password\",\"aNPR66nGXQhZ\") ; \n    global.set(\"discovergy_meterId\",\"781ffa307e434529be9f747eece1b8dc\");  \n    global.set(\"discovergy_firstReading\",4614000)  ;\n    global.set(\"discovergy_firstReadingDate\",\"2017-01-01\");  \n    global.set(\"discovergy_firstReadingOut\",3915000)  \n    global.set(\"discovergy_revenue\",0.12);  \n    global.set(\"discovergy_amortization\",1700);  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":700,"wires":[[]]},{"id":"aeb5418f.dc9f1","type":"ui_button","z":"5da85b17.007c04","name":"","group":"2da904d9.720ddc","order":0,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":980,"wires":[["bea6d8de.596148"]]}]
