flows/demo_messkonzept1.json
[{"id":"df3cbd7e.4769e","type":"tab","label":"Messkonzept 1","disabled":false,"info":""},{"id":"aa81560a.bcfe48","type":"discovergy-config","z":"","name":"Mein Zähler"},{"id":"3fbe679a.e3d668","type":"ui_group","name":"2da904d9.720ddc","tab":"","order":null,"disp":true,"width":6},{"id":"e8ae3b7c.6e00a8","type":"ui_group","name":"b8a86df2.2479f","tab":"","order":2,"disp":true,"width":6},{"id":"cc46f836.e157c8","type":"ui_group","name":"e3c0757f.16a8e8","tab":"","order":8,"disp":true,"width":6},{"id":"9821d579.f9e708","type":"ui_group","name":"ebd47fff.9b846","tab":"","order":3,"disp":true,"width":6},{"id":"7351a04e.f9fc8","type":"ui_group","name":"65849736.6f7248","tab":"","order":3,"disp":true,"width":6},{"id":"730b3331.835c0c","type":"ui_group","name":"49f9128d.2e270c","tab":"","order":3,"disp":true,"width":6},{"id":"2d57b25a.ecea6e","type":"ui_group","name":"14e32e81.163891","tab":"","order":3,"disp":true,"width":6},{"id":"fabc1949.c6b1e8","type":"ui_group","name":"628e42bc.6e58fc","tab":"","order":3,"disp":true,"width":6},{"id":"3427e3c8.641e4c","type":"ui_group","name":"8031db66.94bc88","tab":"","order":3,"disp":true,"width":6},{"id":"cafa0608.f83d78","type":"ui_group","name":"4b761e18.39e5c","tab":"","order":3,"disp":true,"width":6},{"id":"de7a4641.713f58","type":"ui_group","name":"285491a2.773cfe","tab":"","order":3,"disp":true,"width":6},{"id":"23720a70.c10e96","type":"ui_group","name":"522acad0.8a3734","tab":"","order":3,"disp":true,"width":6},{"id":"d8a36357.01efd","type":"discovergy-config","z":"","name":"Mein Zähler"},{"id":"d437a340.f8714","type":"ui_tab","z":"","name":"Messkonzept 1","icon":"fa-eur","order":1,"disabled":false,"hidden":false},{"id":"d530f5b3.7336b8","type":"ui_group","z":"","name":"Heute","tab":"d437a340.f8714","order":1,"disp":true,"width":"6","collapse":true},{"id":"5f4bdb14.582bf4","type":"ui_group","z":"","name":"Letzte 24 Stunden","tab":"d437a340.f8714","order":3,"disp":true,"width":"6","collapse":true},{"id":"14c8fe91.3322c1","type":"ui_group","z":"","name":"Gestern","tab":"d437a340.f8714","order":2,"disp":true,"width":"6","collapse":true},{"id":"6db6404c.fcc9d","type":"ui_group","z":"","name":"Aktueller Monat","tab":"d437a340.f8714","order":4,"disp":true,"width":"6","collapse":true},{"id":"b660619e.87676","type":"ui_group","z":"","name":"Letzter Monat","tab":"d437a340.f8714","order":5,"disp":true,"width":"6","collapse":true},{"id":"a3e1a6f0.cbf418","type":"ui_group","z":"","name":"Aktuelles Jahr","tab":"d437a340.f8714","order":6,"disp":true,"width":"6","collapse":true},{"id":"f16b11c9.e44d8","type":"ui_group","z":"","name":"Letzte 365 Tage","tab":"d437a340.f8714","order":7,"disp":true,"width":"6","collapse":true},{"id":"2e3edafa.3a4a96","type":"ui_group","z":"","name":"Seit Beginn","tab":"d437a340.f8714","order":9,"disp":true,"width":"6","collapse":true},{"id":"7f058341.214a1c","type":"ui_tab","z":"","name":"Einstellungen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3a8d6cd8.31ae64","type":"ui_group","z":"","name":"Disovergy Zugangsdaten","tab":"7f058341.214a1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"99840db8.7ffdb","type":"ui_group","z":"","name":"Anschlußdaten","tab":"7f058341.214a1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b339f11.4a2c1","type":"ui_group","z":"","name":"Aktualisieren","tab":"d437a340.f8714","order":10,"disp":false,"width":"6","collapse":false},{"id":"bde2973.c7e6e68","type":"ui_group","z":"","name":"Letztes Jahr","tab":"d437a340.f8714","order":8,"disp":true,"width":"6","collapse":false},{"id":"97b7d4c.9045028","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c7f52bce.692688","type":"Discovergy Meter","z":"df3cbd7e.4769e","name":"Corrently Demozähler","account":"d8a36357.01efd","meterId":"003d179f01da45449fbe0c9f772408ed","firstReading":"112000","firstReadingOut":"0","firstReadingDate":"2019-08-01","isProduction":true,"revenue":"0.5345","amortization":"1400","prodMeterId":"2da6311e84124491b459cf6e254f90c9","firstReadingProd":"13611000","x":360,"y":400,"wires":[["8dddf595.b20c88","79c8fae9.ca39e4","e09dc429.30c4b8","b2b32e58.1a04d","159eda90.4a94b5","2eff6b14.769944","a5675d3c.687ad","45bbd79d.018cc8","bb0562b7.f82b7","addecca7.122f2","c7a537a3.3580a8","16fc3ef9.f8e5a1","9a1ab896.ed9808","9fc6f026.a0994","a571a341.b660d","2a7ba622.6f54ba","f3064cf8.2515d","a4574d43.d7e56","e81e50f1.2f0b8"]]},{"id":"80b70899.b820f8","type":"inject","z":"df3cbd7e.4769e","name":"1M","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"statistics","payload":"","payloadType":"date","x":130,"y":400,"wires":[["c7f52bce.692688"]]},{"id":"8dddf595.b20c88","type":"debug","z":"df3cbd7e.4769e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"79c8fae9.ca39e4","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (heute)","group":"d530f5b3.7336b8","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.today.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":650,"y":100,"wires":[]},{"id":"e09dc429.30c4b8","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (24h)","group":"5f4bdb14.582bf4","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.last24h.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":650,"y":300,"wires":[]},{"id":"b2b32e58.1a04d","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (yesterday)","group":"14c8fe91.3322c1","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.yesterday.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":660,"y":200,"wires":[]},{"id":"159eda90.4a94b5","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (monthToDay)","group":"6db6404c.fcc9d","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.monthToDay.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":670,"y":400,"wires":[]},{"id":"2eff6b14.769944","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (lastMonth)","group":"b660619e.87676","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.lastMonth.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":660,"y":500,"wires":[]},{"id":"a5675d3c.687ad","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (yearToDay)","group":"a3e1a6f0.cbf418","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.yearToDay.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":670,"y":600,"wires":[]},{"id":"45bbd79d.018cc8","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (last365d)","group":"f16b11c9.e44d8","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.last365d.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":660,"y":700,"wires":[]},{"id":"bb0562b7.f82b7","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (Gesamt)","group":"2e3edafa.3a4a96","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.latest.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":660,"y":880,"wires":[]},{"id":"addecca7.122f2","type":"ui_template","z":"df3cbd7e.4769e","group":"d530f5b3.7336b8","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.today.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.today.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.today.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":140,"wires":[[]]},{"id":"c7a537a3.3580a8","type":"ui_template","z":"df3cbd7e.4769e","group":"14c8fe91.3322c1","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yesterday.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":240,"wires":[[]]},{"id":"16fc3ef9.f8e5a1","type":"ui_template","z":"df3cbd7e.4769e","group":"5f4bdb14.582bf4","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last24h.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last24h.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last24h.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":340,"wires":[[]]},{"id":"9a1ab896.ed9808","type":"ui_template","z":"df3cbd7e.4769e","group":"6db6404c.fcc9d","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":440,"wires":[[]]},{"id":"9fc6f026.a0994","type":"ui_template","z":"df3cbd7e.4769e","group":"b660619e.87676","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":540,"wires":[[]]},{"id":"a571a341.b660d","type":"ui_template","z":"df3cbd7e.4769e","group":"a3e1a6f0.cbf418","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":640,"wires":[[]]},{"id":"2a7ba622.6f54ba","type":"ui_template","z":"df3cbd7e.4769e","group":"f16b11c9.e44d8","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last365d.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last365d.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last365d.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":740,"wires":[[]]},{"id":"f3064cf8.2515d","type":"ui_template","z":"df3cbd7e.4769e","group":"2e3edafa.3a4a96","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.latest.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.latest.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.latest.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":920,"wires":[[]]},{"id":"73036447.7a063c","type":"link in","z":"df3cbd7e.4769e","name":"","links":["91501ed4.e4174"],"x":95,"y":460,"wires":[["3d41b9be.e82276"]]},{"id":"3d41b9be.e82276","type":"function","z":"df3cbd7e.4769e","name":"","func":"msg.topic='statistics';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":460,"wires":[["c7f52bce.692688"]]},{"id":"99dba0b5.080cb","type":"ui_button","z":"df3cbd7e.4769e","name":"","group":"2b339f11.4a2c1","order":0,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":580,"wires":[["3d41b9be.e82276"]]},{"id":"a4574d43.d7e56","type":"ui_gauge","z":"df3cbd7e.4769e","name":"Strompreis (lastYear)","group":"bde2973.c7e6e68","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.lastYear.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":660,"y":780,"wires":[]},{"id":"e81e50f1.2f0b8","type":"ui_template","z":"df3cbd7e.4769e","group":"bde2973.c7e6e68","name":"","order":2,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.lastYear.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastYear.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastYear.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":820,"wires":[[]]}]