flows/demo_messkonzept2.json
[{"id":"5da85b17.007c04","type":"tab","label":"Electron - Lokales Stromkonto","disabled":false,"info":""},{"id":"8e346a2e.007958","type":"discovergy-config","z":"","name":"Mein Zähler"},{"id":"b3ad201a.4ebdb","type":"ui_tab","z":"","name":"Lokaler Strompreis","icon":"fa-eur","order":1,"disabled":false,"hidden":false},{"id":"ebd47fff.9b846","type":"ui_group","z":"","name":"Heute","tab":"b3ad201a.4ebdb","order":1,"disp":true,"width":"6","collapse":true},{"id":"b9c446ab.c655c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Corrently Lokales Stromkonto","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM.DD.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65849736.6f7248","type":"ui_group","z":"","name":"Letzte 24 Stunden","tab":"b3ad201a.4ebdb","order":3,"disp":true,"width":"6","collapse":true},{"id":"49f9128d.2e270c","type":"ui_group","z":"","name":"Gestern","tab":"b3ad201a.4ebdb","order":2,"disp":true,"width":"6","collapse":true},{"id":"14e32e81.163891","type":"ui_group","z":"","name":"Aktueller Monat","tab":"b3ad201a.4ebdb","order":4,"disp":true,"width":"6","collapse":true},{"id":"628e42bc.6e58fc","type":"ui_group","z":"","name":"Letzter Monat","tab":"b3ad201a.4ebdb","order":5,"disp":true,"width":"6","collapse":true},{"id":"8031db66.94bc88","type":"ui_group","z":"","name":"Aktuelles Jahr","tab":"b3ad201a.4ebdb","order":6,"disp":true,"width":"6","collapse":true},{"id":"4b761e18.39e5c","type":"ui_group","z":"","name":"Letzte 365 Tage","tab":"b3ad201a.4ebdb","order":7,"disp":true,"width":"6","collapse":true},{"id":"285491a2.773cfe","type":"ui_group","z":"","name":"Seit Beginn","tab":"b3ad201a.4ebdb","order":9,"disp":true,"width":"6","collapse":true},{"id":"c9c3dffe.f5272","type":"ui_tab","z":"","name":"Einstellungen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e3c0757f.16a8e8","type":"ui_group","z":"","name":"Disovergy Zugangsdaten","tab":"c9c3dffe.f5272","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8a86df2.2479f","type":"ui_group","z":"","name":"Anschlußdaten","tab":"c9c3dffe.f5272","order":2,"disp":true,"width":"6","collapse":false},{"id":"2da904d9.720ddc","type":"ui_group","z":"","name":"Aktualisieren","tab":"b3ad201a.4ebdb","order":10,"disp":false,"width":"6","collapse":false},{"id":"522acad0.8a3734","type":"ui_group","z":"","name":"Letztes Jahr","tab":"b3ad201a.4ebdb","order":8,"disp":true,"width":"6","collapse":false},{"id":"da546890.0f3d38","type":"Discovergy Meter","z":"5da85b17.007c04","name":"Corrently Demozähler","account":"8e346a2e.007958","meterId":"781ffa307e434529be9f747eece1b8dc","firstReading":"4614000","firstReadingOut":"3915000","firstReadingDate":"2017-01-01","isProduction":false,"revenue":"0.12","amortization":"2500","prodMeterId":"781ffa307e434529be9f747eece1b8dc","firstReadingProd":"21260000","x":340,"y":400,"wires":[["1787d66f.d5ccba","a7247f1f.d09e5","5c64b699.c14c18","c4213524.48bd38","4de1978c.de92c8","bbb270ec.43c85","632ef305.4247cc","a40f8c3e.7878","3ba5560.75506aa","5345b145.66da6","4a1d7c05.683bc4","d7bb6944.022ae8","69d3c95d.c05fb8","21a9511d.89386e","144daaf0.f75a45","80d9a131.ea00f","7263cd8f.0dcf64","7493ab29.90bcb4","da72359f.ce97e8"]]},{"id":"5c6c9941.239328","type":"inject","z":"5da85b17.007c04","name":"1M","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"2","topic":"statistics","payload":"","payloadType":"date","x":110,"y":400,"wires":[["da546890.0f3d38"]]},{"id":"1787d66f.d5ccba","type":"debug","z":"5da85b17.007c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"a7247f1f.d09e5","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (heute)","group":"ebd47fff.9b846","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.today.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":630,"y":100,"wires":[]},{"id":"5c64b699.c14c18","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (24h)","group":"65849736.6f7248","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.last24h.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":630,"y":300,"wires":[]},{"id":"c4213524.48bd38","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (yesterday)","group":"49f9128d.2e270c","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.yesterday.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":640,"y":200,"wires":[]},{"id":"4de1978c.de92c8","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (monthToDay)","group":"14e32e81.163891","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.monthToDay.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":650,"y":400,"wires":[]},{"id":"bbb270ec.43c85","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (lastMonth)","group":"628e42bc.6e58fc","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.lastMonth.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":640,"y":500,"wires":[]},{"id":"632ef305.4247cc","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (yearToDay)","group":"8031db66.94bc88","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.yearToDay.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":650,"y":600,"wires":[]},{"id":"a40f8c3e.7878","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (last365d)","group":"4b761e18.39e5c","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.last365d.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":640,"y":700,"wires":[]},{"id":"3ba5560.75506aa","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (Gesamt)","group":"285491a2.773cfe","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.latest.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":640,"y":880,"wires":[]},{"id":"5345b145.66da6","type":"ui_template","z":"5da85b17.007c04","group":"ebd47fff.9b846","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.today.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.today.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.today.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":140,"wires":[[]]},{"id":"4a1d7c05.683bc4","type":"ui_template","z":"5da85b17.007c04","group":"49f9128d.2e270c","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yesterday.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yesterday.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":240,"wires":[[]]},{"id":"d7bb6944.022ae8","type":"ui_template","z":"5da85b17.007c04","group":"65849736.6f7248","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last24h.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last24h.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last24h.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"69d3c95d.c05fb8","type":"ui_template","z":"5da85b17.007c04","group":"14e32e81.163891","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.monthToDay.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":440,"wires":[[]]},{"id":"21a9511d.89386e","type":"ui_template","z":"5da85b17.007c04","group":"628e42bc.6e58fc","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastMonth.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":540,"wires":[[]]},{"id":"144daaf0.f75a45","type":"ui_template","z":"5da85b17.007c04","group":"8031db66.94bc88","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.yearToDay.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":640,"wires":[[]]},{"id":"80d9a131.ea00f","type":"ui_template","z":"5da85b17.007c04","group":"4b761e18.39e5c","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.last365d.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last365d.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.last365d.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":740,"wires":[[]]},{"id":"7263cd8f.0dcf64","type":"ui_template","z":"5da85b17.007c04","group":"285491a2.773cfe","name":"","order":1,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.latest.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.latest.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.latest.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":920,"wires":[[]]},{"id":"ff7e1f7.60f8fe","type":"link in","z":"5da85b17.007c04","name":"","links":["638c7a90.5728f4"],"x":75,"y":460,"wires":[["bea6d8de.596148"]]},{"id":"bea6d8de.596148","type":"function","z":"5da85b17.007c04","name":"","func":"msg.topic='statistics';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":460,"wires":[["da546890.0f3d38"]]},{"id":"4d50277d.ce54e8","type":"inject","z":"5da85b17.007c04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["74a18dce.7ba9a4"]]},{"id":"74a18dce.7ba9a4","type":"function","z":"5da85b17.007c04","name":"Initialize Globals","func":"if(typeof global.get(\"discovergy_username\") == 'undefined') {\n    global.set(\"discovergy_username\",\"demo@corrently.de\");  \n    global.set(\"discovergy_password\",\"aNPR66nGXQhZ\") ; \n    global.set(\"discovergy_meterId\",\"781ffa307e434529be9f747eece1b8dc\");  \n    global.set(\"discovergy_firstReading\",4614000)  ;\n    global.set(\"discovergy_firstReadingDate\",\"2017-01-01\");  \n    global.set(\"discovergy_firstReadingOut\",3915000)  \n    global.set(\"discovergy_revenue\",0.12);  \n    global.set(\"discovergy_amortization\",1700);  \n    global.set(\"discovergy_prodMeterId\",\"303fbb8ca6404ebba48c196b4dbbc176\");  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":300,"wires":[[]]},{"id":"aeb5418f.dc9f1","type":"ui_button","z":"5da85b17.007c04","name":"","group":"2da904d9.720ddc","order":0,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":580,"wires":[["bea6d8de.596148"]]},{"id":"7493ab29.90bcb4","type":"ui_gauge","z":"5da85b17.007c04","name":"Strompreis (lastYear)","group":"522acad0.8a3734","order":1,"width":0,"height":0,"gtype":"gage","title":"je kWh","label":"€","format":"{{msg.payload.stats.lastYear.energyPrice_kwh}}","min":"0.12","max":"0.2637","colors":["#00ff00","#e6e600","#ff0000"],"seg1":"","seg2":"","x":640,"y":780,"wires":[]},{"id":"da72359f.ce97e8","type":"ui_template","z":"5da85b17.007c04","group":"522acad0.8a3734","name":"","order":2,"width":0,"height":0,"format":"<table width=\"100%\" height=\"80\">\n<tr><th>Ausgaben</th><th>Einnahmen</th><th>Saldo</th></tr>    \n<tr>\n    <td align=\"center\">{{msg.payload.stats.lastYear.energySpendings | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastYear.energyRevenue | number:2}}€</td>\n    <td align=\"center\">{{msg.payload.stats.lastYear.incomeSaldo}}€</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":820,"wires":[[]]}]
